<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue中的条件渲染</title>
        <script src="./vue.js"></script>
    </head>
    <body>

        <div id="app">
            <div v-if="show" data-test="v-if">{{message}}</div>
            <div v-else>Bye World</div>
            <div v-if="showAB=== 'a'">This is A</div>
            <div v-else-if="showAB === 'b'">This is B</div>
            <div v-show="show" data-test="v-show">{{message}}</div>
            <div v-if="into">
                用户名：<input key="username" />
            </div>
            <div v-else>
                邮箱名：<input key="password" />
            </div>
        </div>

        <script>
            var app = new Vue({ 
                el: '#app',
                data: {
                    into: false,
                    showAB: "a",
                    show: false,
                    message: "Hello World"
                }
            })
        </script>
    </body>
</html>