<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue中的set方法</title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-for="(item, key, index) of userInfo">
                {{item}} --- {{key}} --- {{index}}
            </div>
            <div v-for="item of list">
                {{item}}
            </div>
        </div>

        <script>
            // 将数组第一项改为 2
            // Vue.set(app.list, 0 , 2)
            // app.$set(app.list, 0 ,2)
            var app = new Vue({
                el: '#app',
                data: {
                    list: [1, 2, 3, 4],
                    userInfo: {
                        name: "Kang",
                        age: "23",
                        gender: "rongjie",
                        salary: "secret"
                    }
                }
            })
        </script>
    </body>
</html>